[user]
	name = Plato Wu
	email = gtalk000@gmail.com
[core]
# Plato Wu,2009/05/22: Absolute path is needed with git version 1.6.2.1
# Plato Wu,2010/06/03: it doesn't work at cywin, have to use .gitignore in project directory.
# Plato Wu,2014/07/08: use ~ to unify linux & cygwin
	excludesfile = ~/.gitignore
# Plato Wu,2012/09/08: support UTF-8
quotepath = false
# Plato Wu,2015/11/10: for git respository
# gitproxy = ~/.ssh/proxy.sh
# ignore file permission in Windows
filemode = false

[alias]
co = checkout
ci = commit -a
st = status
br = branch
oneline = log --pretty=oneline --since='2 days ago'
onelog = log -p -1

[color]
status = auto
branch = auto
ui = auto

[http]
# Plato Wu,2010/10/11: skip it for https clone
sslVerify = false
# Plato Wu,2012/03/22: 
# 1. When you're on the master branch, the default remote is origin.
# 2. When using git pull on the master branch, with no remote and
# branch specified, use the default remote (origin) and merge in the
# changes from the master branch.

# Plato Wu,2015/11/10: for http respository
# Plato Wu,2016/04/15: it don't effect git svn
# proxy = socks5://192.168.1.1:9050
# proxy = socks5://127.0.0.1:7070
# proxy = http://127.0.0.1:8118
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
	default = matching

# # Plato Wu,2016/09/14: save git password for git>1.7.0
# [credential]
# 	helper = cache --timeout=3600
# or, vi .git-credentials add https://account:password@github.com
# [credential]
# helper = store
# or add into netrc(authinfo)?
#